# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
dist

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
mnemonic.txt

# artifacts/cache/data
artifacts
cache

coverage.json

@openzeppelin
@pancakeswap
bsc-library

Flatten*

.idea
.history
localhost

#deployments
deployments/localhost